/* styles.css */

body {
  font-family: "Open Sans";
  font-size: 14px;
  width: 100%;
  height: 100%;
  background-color: #d8d8d8;
  color: silver;
}

.title {
  color: 333333;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}