/* styles.css */

body {
  font-family: "Open Sans";
  font-size: 14px;
  width: 60%;
  height: auto;
  margin: auto;
  color: #333333;
}

.title {
  color: 333333;
}

.container {
  border: gold;
  border-width: 5px;
  /* background: blue; */
  /* display: flex; */
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  /* background-color: #f2f2f2; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-container {
  margin: 5px;
  display: flex;
  align-items: center;
}

